.navBar {
    width: 100%;
    /* margin: auto; */
    /* /* position: relative; */

}

.navBarContainer {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dot {
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%); */
}