.quizButton {
    margin: 30px 0; 
    text-align: center;
}

.quizButton button {
    padding: 10px 20px;
    background-color: #3C5880;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 98px; 
    height: 38px; 
    font-size: 15px;
    font-family: 'Josefin Sans';
    font-weight: bold;
}

.quizButton button:hover {
    background-color: #fff;
    color: #3C5880;
}
