.main {
    background-color: var(--white);
    padding: var(--screenSpacingVertical) var(--screenSpacingHorizontal);
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid var(--mainblue);
}