:root {
  --white-bg: #EBEBEB;
  --white-button: 
  --main-blue: #627CA9;
  --background-gray: #0C0C0C;
  --main-red: #8B0000;
  --main-gold: #D4AF37;
  --blue: #3C5880;
  --dark-blue: #041732;
  --chapter-font: "Cardo";

}
