.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: var(--screenHeight);
}

.container {
    min-width: var(--screenWidth);
    max-width: var(--screenWidth);
}