.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

.frameContainer {
    position: relative;
    width: 100%;
    padding: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.borderContainer {
    position: relative;
    width: 70%;
    max-width: 260px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textContainer {
    position: relative;
    align-items: center;
}

.navDotContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; /* Adjust to control the height from the bottom */
}

.clickContainer {
    position: absolute;
    top: 50%;
    left: -6.5%;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 80px);
    margin: 0 -20px;
    pointer-events: none;
}

.clickContainer > button {
    pointer-events: auto;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
}

.descriptionImageContainer {
    position: relative;
    top: -50%;
    right: -82%;
}

.headText {
    font-family: 'Josefin Sans', sans-serif;
}

.descriptionText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}

.descriptionTextContainer {
    position: relative;
    top: -50%;
    right: -55%;
    width: 80%;
    text-align: center;
}

.skipButton {
    width: 61px;
    height: 30px;
    background-color: var(--white);
    color: var(--black);
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.skipButton:hover {
    background-color: var(--main-blue);
    color: var(--white);
    box-shadow: 0 2px 5px (--dark-blue);
    border: 1px solid var(--dark-blue);
}

.descriptionImageContainer {
    animation: floatAnimation 1.2s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}
