.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%; 
}

.borderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%; 
    max-width: 360px;
    height: auto;
    margin: 20px 0;
    border: 2px solid var(--white);
    padding: 20px;
}

.descriptionImageContainer, .descriptionTextContainer {
    position: static; 
    width: 100%;
    text-align: center; 
    margin: 10px 0; 
}

.descriptionText {
    font-size: 18px;
    color: var(--white);
}

.ProgressBar {
    width: 80%; /* Adjust width to better fit within the frame */
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
}

.indexedStep {
    width: 10px;
    height: 10px;
}

.clickContainer {
    width: 100%; /* Ensure this container fills its parent */
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Space out left and right arrows */
}

.arrowIcon {
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
}
