.progressBar {
    width: 100%;
    height: 2px;
    background-color: var(--blue);
}

.progressLine {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}