.main {
    background-color: var(--white);
    padding: var(--screenSpacingVertical) var(--screenSpacingHorizontal);
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleText {
    font-family: "Cardo";
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: var(--main-blue);
    border-left: 1px solid var(--main-blue);
    width: 300px;
}

.line {
    width: 100%;
    border-top: 1px solid var(--main-blue);
    margin: 0 10px;
}

.trackNumber {
    font-family: "Cardo";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: var(--main-blue);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicPlayer {
    height: auto;
}

.mainPhoto {
    height: auto;
}

.musicPlayerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerControls {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.playerControls button {
    background-color: transparent;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid var(--main-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.previousButton, .nextButton {
    width: 30px;
    height: 30px;
    padding: 25px;
}

.playPauseButton {
    width: 40px;
    height: 40px;
    padding: 35px;
}

.rangeSliderContainer{
    width: 300px;
}
.songRangeControl {
    width: 100%;
    margin: 20px auto auto auto;
}
  
.rangeSlider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: 1px solid var(--mainblue);
    accent-color: var(--main-blue);
}
  
.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
  
.rangeSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-blue);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.rangeSlider::-webkit-slider-runnable-track {
  background-color: transparent;
}

.rangeSlider::-moz-range-progress {
  background-color: var(--main-blue);
}

.rangeSlider::-webkit-progress-value {
  background-color: var(--main-blue);
}

.rangeSlider::-webkit-progress-bar {
  background-color: transparent;
}

.rangeSlider::-moz-range-track {
  background-color: transparent;
}