.main {
    background-color: var(--black);
    padding: var(--screenSpacingVertical) var(--screenSpacingHorizontal);
    color: var(--white);
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

.aliceContainer {
    margin-top: 70px;
}

.alice {
    height: auto;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeText {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 16px;
}

.descriptionText {
    font-size: 14px;
    font-size: 13.5px;
    font-weight: 300;
    text-align: left;
}

.inputBox {
    background-color: var(--black);
    color: var(--white);
    border: 0.5px solid var(--white);
    border-radius: 15px;
    padding: 15px;
    width: 285px;
    margin-top: 20px;
    resize: none;
}

.bottomContainer {
    position: relative;
}

.arrowButton {
    position: absolute;
    right: 15.5px;
    bottom: 15.5px;
    text-decoration: none;
    color: var(--white);
}