.main {
    background-color: var(--black);
    padding: var(--screenSpacingVertical) var(--screenSpacingHorizontal);
    color: var(--white);
    position: relative;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

.spline {
    height: auto;
}

.desc {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 14.5px;
    color: var(--white);
    text-align: center;
}

.memoryText {
    display: block;
    padding-bottom: 7px;
}

.quizButton {
    margin: 30px 4px; 
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #3C5880;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 98px; 
    height: 38px; 
    font-size: 15px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #fff;
    color: #3C5880;
}