.buttonA, .buttonB {
    padding: 10px 20px; 
    margin: 0 10px; 
    background-color: var(--white-button);
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    height: 60px;
}

.buttonA {
    margin-bottom: 10px;
    margin-top: 10px; 
}

.quizButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.quizButtons {
    border: solid 1px var(--main-blue);
    height: 3rem;
    width: 20rem;
}

.arrow {
    display: none;
}

.arrow.active{
    display: block;

}




/* Media query for specific screen sizes */
@media screen and (min-width: 430px) and (max-width: 932px) {
    .buttonA, .buttonB {
        padding: 10px 20px; 
        margin: 0 10px; 
        background-color: var(--white-button);
        color: var(--main-blue);
        border: 3px solid var(--main-blue);
        border-radius: 20px;
        cursor: pointer;
        width: 250px;
        height: 60px;
    }

    .buttonA {
        margin-bottom: 10px; 
        margin-top: 10px; 
    }
}